# Our First Database

**Instructions**

If you don't already have it, install the SQLite Browser from http://sqlitebrowser.org/.

Then, create a SQLITE database or use an existing database and create a table in the database called "Ages":

```sql
CREATE TABLE Ages ( 
    name VARCHAR(128), 
    age INTEGER
)
```

Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:

```sql
DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Alisdair', 28);
INSERT INTO Ages (name, age) VALUES ('Kjae', 38);
INSERT INTO Ages (name, age) VALUES ('Manisha', 28);
INSERT INTO Ages (name, age) VALUES ('Leilan', 22);
```

Once the inserts are done, run the following SQL command:

```sql
SELECT hex(name || age) AS X FROM Ages ORDER BY X
```

Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.

Note: This assignment must be done using SQLite - in particular, the SELECT query above will not work in any other database. So you cannot use MySQL or Oracle for this assignment.

In [4]:
import sqlite3
import pandas as pd

# Pass ":memory:" to open a connection to a database that is in RAM instead of on disk.
con = sqlite3.connect(":memory:")

# In order to execute SQL statements and fetch results from SQL queries, we will need to use a database cursor.
cur = con.cursor()

cur.execute(
            """
            CREATE TABLE Ages ( name VARCHAR(128), 
                                age INTEGER);
            """
            )

cur.execute(
            """
            DELETE FROM Ages;
            """
            )

cur.execute(
            """
            INSERT INTO Ages (name, age) VALUES ('Alisdair', 28),
                                                ('Kjae', 38),
                                                ('Manisha', 28),
                                                ('Leilan', 22);
            """
            )

rows = cur.execute(
            """
            SELECT HEX(name || age) AS X 
            FROM Ages 
            ORDER BY X
            """
            )

print("First row:", rows.fetchone()[0])

# To commit the transactions
con.commit()

# To close the existing connection
con.close()

First row: 416C6973646169723238